<div class="addFrom" *ngIf="addFormActive">

  <div class="addFormContainer">
    <div class="addFormContainer__header" *ngIf="formType === 'create'">Добавить книгу</div>
    <div class="addFormContainer__header" *ngIf="formType === 'patch'">Редактировать книгу</div>

    <form (ngSubmit)="formType === 'create' ? createBook() : editBook()" #isFormOk="ngForm">

      <div>
      </div>
      <div class="formGroup">
        <label for="book-name"></label>
        <input type="text"
               required
               #name = 'ngModel'
               [(ngModel)]="inputBook.name"
               id="book-name"
               name="name"
               placeholder="Название книги">
        <div class="formGroup__hint" [hidden]="name.valid || name.pristine">Обязательное поле</div>
      </div>

      <div class="formGroup">
        <label for="book-author"></label>
        <input type="text"
               required
               #author = 'ngModel'
               [(ngModel)]="inputBook.author"
               id="book-author"
               name="author"
               placeholder="Автор">
        <div class="formGroup__hint" [hidden]="author.valid || author.pristine">Обязательное поле</div>
      </div>

      <div class="formGroup">
        <label for="book-date"></label>
        <input type="text"
               required
               #date = 'ngModel'
               [(ngModel)]="inputBook.date"
               id="book-date"
               name="date"
               placeholder="Год издания">
        <div class="formGroup__hint" [hidden]="date.valid || date.pristine">Обязательное поле</div>
      </div>

      <div class="formGroup">
        <label for="book-genres">Выберите жанры</label>
        <select multiple
                required
                id="book-genres"
                #genresIds = 'ngModel'
                [(ngModel)]="inputBook.genreIds"
                name="genreIds"
        >
          <option [ngValue]="genre.id" *ngFor="let genre of genres">{{genre.name[0].toUpperCase() + genre.name.slice(1)}}</option>
          <div class="formGroup__hint" [hidden]="genresIds.valid || genresIds.pristine">Обязательное поле</div>
        </select>
      </div>

      <div class="formGroup">
        <label for="book-description"></label>
        <textarea type="text"
                  [(ngModel)]="inputBook.description"
                  id="book-description"
                  name="description" rows="6"
                  placeholder="Описание"></textarea>
      </div>

      <div style="display: flex; justify-content: space-around; flex-wrap: wrap">
      <button type="submit" class="formBtn zoom mt-15" [disabled]="!isFormOk.form.valid">{{formType === 'create' ? 'Отправить' : 'Обновить'}}</button>
      <button class="formBtn zoom mt-15" type="reset" *ngIf="formType === 'create'">Очистить</button>
      <button class="formBtn zoom mt-15" (click)="close(formType)">Закрыть</button>
      </div>
    </form>
    <div *ngIf="formSubmit" class="success-alert">Книга создана</div>
    <br>
  </div>

  <div>

  </div>
</div>
