<app-full-book-card
  [isActive]="fullBookCardActive"
  [book]="book"
  (closeFullCard)="switchFullCard(false)"></app-full-book-card>

<app-add-form
  [addFormActive]="addFormActive"
  (getBooks)="getBooks()"
  (switchAddForm)="switchAddForm(false)"></app-add-form>

<header class="header">
  <h1 class="header__logo">Bookshelf</h1>
  <img src="assets/plus-circle-outline.png"
       class="header__button zoom"
       alt="add"
       (click)="switchAddForm(true)"
  >
</header>

<section class="filters">
  <div class="filters__container">
    <div class="filters__container__item mr-8 zoom">
      По году
    </div>
    <div class="filters__container__item mr-8 zoom">
      По автору
    </div>
    <div class="filters__container__item mr-8 zoom">
      По жанру
    </div>
    <div class="filters__container__item mr-8 zoom filters__container__item-active">
      По названию
    </div>
  </div>
</section>

<main class="main">
  <!--  карточка книги-->
  <div
    class="main__book zoom"
    *ngFor="let item of booksArray; let i = index;"
    (mouseenter)="hoverIndex = i"
    (mouseleave)="hoverIndex = -1"

  >
    <div style="width: 100%; padding-bottom: 150%; position: relative">
      <div
        class="main__book__delete"
        *ngIf="hoverIndex === i"
        (click)="deleteBook(item.id)"
      >
        <img src="assets/delete-outline.png"
             style="width: 15px; height: 15px" alt=""
        >
      </div>
      <div class="main__book__card"
           [class.hover_img]="hoverIndex === i "
           (click)="switchFullCard(true); fillBook({name: item})"
      >
        <div class="main__book__card__cover">
          <p class="book-name mb-8">{{item.name}}</p>
          <p class="book-author mb-8">{{item.author}}</p>
          <p class="book-year mb-8">{{item.date}}</p>
          <div>
            <span class="book-genres"
                  *ngFor="let book_genre of item.genre; let i = index">
              {{book_genre.name[0].toUpperCase() + book_genre.name.slice(1)}}<span
              *ngIf="item.genre.length > 0 && i < item.genre.length -1">,
            </span>
            </span>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>
