<app-add-form
  [addFormActive]="fullBookActive"
  formType="patch"

  [inputBook]="book"
  (getBooks)="getBooks()"
  (switchForm)="switchForm(false, 'patch')"></app-add-form>

<app-add-form
  formType="create"
  [inputBook]="book"

  [addFormActive]="addFormActive"
  (randomFillBookForCreate)="fillBook({}, 'create')"
  (getBooks)="getBooks()"
  (switchForm)="switchForm(false, 'create')"></app-add-form>

<header class="header">
  <h1 class="header__logo">Bookshelf</h1>
  <img src="assets/plus-circle-outline.png"
       class="header__button zoom"
       alt="add"
       (click)="fillBook({}, 'create'); switchForm(true, 'create')"
  >
</header>

<section class="filters">
  <div class="filters__container">
    <div class="filters__container__item mr-8 zoom"
         [class.filters__container__item-active]="activeFilter === 'По году'"
         (click)="filter_by('По году')"
    >
      По году
    </div>
    <div class="filters__container__item mr-8 zoom"
         [class.filters__container__item-active]="activeFilter === 'По автору'"
         (click)="filter_by('По автору')"
    >
      По автору
    </div>
    <div class="filters__container__item mr-8 zoom"
         [class.filters__container__item-active]="activeFilter === 'По жанру'"
         (click)="filter_by('По жанру')"
    >
      По жанру
    </div>
    <div class="filters__container__item mr-8 zoom"
         [class.filters__container__item-active]="activeFilter === 'По названию'"
         (click)="filter_by('По названию')"
    >
      По названию
    </div>
  </div>
</section>

<main class="main">
  <!--  карточка книги-->
  <div
    class="main__book zoom"
    *ngFor="let item of currentPageArray; let i = index;"
    (mouseenter)="hoverIndex = i"
    (mouseleave)="hoverIndex = -1"

  >
    <div style="width: 100%; padding-bottom: 150%; position: relative">
      <div
        class="main__book__delete"
        *ngIf="hoverIndex === i"
        (click)="deleteBook(item.id)"
      >
        <img src="assets/delete-outline.png"
             style="width: 15px; height: 15px" alt=""
        >
      </div>
      <div class="main__book__card"
           [class.hover_img]="hoverIndex === i "
           (click)="switchForm(true, 'patch'); fillBook(item, 'patch')"
      >
        <div class="main__book__card__cover">
          <p class="book-name mb-8">{{item.name}}</p>
          <p class="book-author mb-8">{{item.author}}</p>
          <p class="book-year mb-8">{{item.date}}</p>
          <div>
            <span class="book-genres"
                  *ngFor="let book_genre of item.genre; let i = index">
              {{book_genre.name[0].toUpperCase() + book_genre.name.slice(1)}}<span
              *ngIf="item.genre.length > 0 && i < item.genre.length -1">,
            </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<div class="pagiContainer">
  <div class="pagiContainer__pagination zoom"
       [class.pagiContainer__pagination_active]="pageNumber === page"
       *ngFor="let page of pageCount"
       (click)="paginatedData(page)"
  >
    {{page + 1}}
  </div>
</div>
